.colors-8884d8 { color: #8884d8; }
.colors-82ca9d { color: #82ca9d; }
.colors-ffc658 { color: #ffc658; }
.colors-ff7300 { color: #ff7300; }
.colors-00bcd4 { color: #00bcd4; }
.colors-a0d911 { color: #a0d911; }
.colors-086788 { color: #086788; }
.colors-07a0c3 { color: #07A0C3; }
.colors-f0c808 { color: #F0C808; }
.colors-dd1c1a { color: #DD1C1A; }